{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/markdown.css">
    {{ bootstrap.load_css() }}

</head>
<body>
    <!----------------------------------------------------------------->
    <!------------------      Nav bar start  -------------------------->
    <!----------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Critical Hit</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ render_nav_item('home_assets.home', 'Home', use_li=True) }}
                {{ render_nav_item('roster_assets.roster', 'Roster', use_li=True) }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Booker</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{ url_for('booker_assets.booker') }}">Booker</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('booker_assets.booker_tag') }}">Booker (tag)</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('results_assets.results') }}">Results</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('show_booker_assets.show_booker') }}">Book a show</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Back Office</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{ url_for('fueds_assets.fueds') }}">Fueds</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('titles_assets.titles') }}">Titles</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('indies_assets.indies') }}">Indies</a></li>
                    </ul>
                </li>
                {{ render_nav_item('companies_assets.companies', 'Companies', use_li=True) }}
            </ul>
            <span class="navbar-text">Welcome {{current_user.name}} || </span>
            <span class="navbar-text">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if current_user.is_authenticated %}
                        {{ render_nav_item('home_assets.profile', 'Profile', use_li=True) }}
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                        {{ render_nav_item('auth_assets.login', 'Login', use_li=True) }}
                        {{ render_nav_item('auth_assets.signup', 'Sign Up', use_li=True) }}
                    {% endif %}
                    {% if current_user.is_authenticated %}
                        {{ render_nav_item('auth_assets.logout', 'Logout', use_li=True) }}
                    {% endif %}
                </ul>
            </span>
        </div>    
        </div>
    </nav>
    <!----------------------------------------------------------------->
    <!------------------      Nav bar end  -------------------------->
    <!----------------------------------------------------------------->

    <main class="container">
        <br>
        {{ render_messages(container=False, dismissible=True) }}
        {% block content %}{% endblock %}
    </main>

    <footer class="text-center">
        {% block footer %}
            <small> &copy; 2018–<script>document.write(new Date().getFullYear())</script> <a href="https://github.com/lukayeh">criticalhit</a>
            </small>
        {% endblock %}
    </footer>

    {{ bootstrap.load_js() }}
</body>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.js"></script>
<script src="../static/js/data-table.js"></script>
</html>