{% extends 'base.html' %}

{% block content %}
<h3>&#128214; Results: </h3>
<hr>

<div class="bg-white border rcorners1">
    <section class="w-100 p-4">
        <h4>Match</h4>

        {% for members in participants %}
        {{members['name']}}
            {% if not loop.last %}
            vs
            {% endif %}
        {% endfor %}
        <hr>
        <h5>Rewards</h5>        
        {% if myTitles[0] is not defined %}
            <i>n/a</i>
                
        {% else %}
            {% for title in myTitles %}
                <span class="badge bg-warning text-dark"><img id="title" src="/static/images/title.png" alt="title logo" width="30px"> {{ titles[title|int -1]['name'] }}</span>
            {% if not loop.last %}
            <!-- <br> -->
            {% endif %}
            {% endfor %} 
        {% endif %}
        <hr>

        <h5>Roundup</h5>
            <div class="header"><span>Expand</span>
        
            </div>
            <div class="content">
            <code>
                <ul>
                    {% for result in booker[1] %}
                    <li>{{ result|safe }}</li>
                    {% endfor %}
                </ul>
            </code>
            <br>
            </div>
        <hr>
        <h5>Winner</h5>
        {{booker[3]}} &#127881;
        <hr>
        <h5>Breakdown</h5>
        <b>Star rating:</b>
        {% for x in range(0, booker[5]) %}
        &#11088;  
        {% endfor %}
    


        <br>

    </section>

</div>




    <script src="../static/js/booker_post.js"></script>


{% endblock %}