
{% extends 'base.html' %}

{% block content %}

<h3>&#128214; Choose your participants: </h3>
<hr>

<div class="bg-white border rcorners1">
    <section class="w-100 p-4">
        <form action="{{ url_for('booker_assets.booker_multi_post') }}" method="post">

            <select class="select" multiple data-mdb-option-height="44">
              {{roster}}
              {% for member in roster %}
              <option value="{{member['id']}}" data-mdb-secondary-text="Secondary text">{{member['name']}}</option>
              {% endfor %}
            </select>
            <br>
            <hr>
            <b>&#127873; Extras:</b>
            <br>
            <!-- OMG moment -->
            <input class="form-check-input" type="checkbox" id="omgmoment" name="omgmoment" value="true">
            <label for="omgmoment">&#128562; OMG Moment</label><br>
            <!-- run_in moment -->
            <input class="form-check-input" type="checkbox" id="run_in" name="run_in" value="true">
            <label for="run_in">&#127939; Random Run In</label><br>
            <hr>
            <b>&#129351; Titles:</b>
            <br>
            <!-- Title for Participant 1 -->
            <div style='display:none;' id='title_1'>
                <input class="form-check-input" type="checkbox" id="titlematch_1" name="titlematch" value="">
                <label for="titlematch"><p id="title_text"></p></label>
            </div>
            <!-- Title for Participant 2 -->
            <div style='display:none;' id='title_2'>
                <input class="form-check-input" type="checkbox" id="titlematch_2" name="titlematch_2" value="">
                <label for="titlematch_2"><p id="title_2_text"></p></label>
            </div>
            <!-- Title for Participant 3 -->
            <div style='display:none;' id='title_3'>
                <input class="form-check-input" type="checkbox" id="titlematch_3" name="titlematch_3" value="">
                <label for="titlematch_2"><p id="title_3_text"></p></label>
            </div>
            <!-- Title for Participant 4 -->
            <div style='display:none;' id='title_4'>
                <input class="form-check-input" type="checkbox" id="titlematch_4" name="titlematch_4" value="">
                <label for="titlematch_2"><p id="title_4_text"></p></label>
            </div>

            <hr>

            <input type="submit" value="Submit">
        </form>
    </section>


</div>

<script src="../static/js/booker.js"></script>
<script src="../static/js/booker-select.js"></script>


{% endblock %}



