{% extends 'base.html' %}

{% block content %}
<h3>&#128214; Results: </h3>
<hr>

<div class="bg-white border rcorners1">
    <section class="w-100 p-4">
        <h4>Match</h4>

        {{ tag_teams["team_1"]["member_1"]['name'] }} & 
        {{ tag_teams["team_1"]["member_2"]['name'] }}
         vs
        {{ tag_teams["team_2"]["member_1"]['name'] }} & 
        {{ tag_teams["team_2"]["member_2"]['name'] }}
        <hr>
        <h5>Rewards</h5>        
            <i>n/a</i>               
        <hr>
        <h5>Roundup</h5>
            <div class="header"><span>Expand</span>
        
            </div>
            <div class="content">
            <code>
                <ul>
                    {% for result in booker.roundup %}
                    <li>{{ result|safe }}</li>
                    {% endfor %}
                </ul>
            </code>
            <br>
            </div>
        <hr>
        <h5>Winner</h5>
        {% for winner in booker.winner %}
        {{winner}}
        {% if not loop.last %}
        &
        {% endif %}
        {% endfor %}
        &#127881;
        <hr>
        <h5>Breakdown</h5>
        <b>Star rating:</b>
        {% for x in range(0, booker.stars) %}
        &#11088;  
        {% endfor %}
        <br>

    </section>

</div>




    <script src="../static/js/booker_post.js"></script>


{% endblock %}