
{% extends 'base.html' %}

{% block content %}


<h3>&#128214; Choose your participants: </h3>
<hr>
<div class="bg-white border rcorners1">
    <section class="w-100 p-4">
        <form action="{{ url_for('booker_post') }}" method="post">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Choose your first competitor...</th>
                    <th scope="col">Choose your second competitor...</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>    
                        <img id="playerOneImage" class="myimg" src="/static/images/vacant.png" alt="wrestlers logo" width="200px">
                    </td>
                    <td>    
                        <img id="playerTwoImage" class="myimg" src="/static/images/vacant.png" alt="wrestlers logo" width="200px">
                    </td>
                </tr>
                <tr>
                    <td> 
                        <select id="participant1" class="detailprodoption" name="participant1">
                            <option value="" data-img-src="static/images/vacant.png" selected="selected">Choose your first competitor...</option>
                            {% for members in roster %}
                            <option value="{{members['id']}}" data-img-src="{{members['img']}}">{{members['name']}} (lvl: {{members["level"]}})</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select id="participant2" class="detailprodoption_2" name="participant2">
                            <option value="" selected="selected">Choose your second competitor...</option>
                            {% for members in roster %}
                            <option value="{{members['id']}}" data-img-src="{{members['img']}}">{{members['name']}} (lvl: {{members["level"]}})</option>"
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                
                </tbody>
            </table>
            <b>&#127873; Extras:</b>
            <br>
            <!-- OMG moment -->
            <input class="form-check-input" type="checkbox" id="omgmoment" name="omgmoment" value="true">
            <label for="omgmoment">&#128562; OMG Moment</label><br>
            <!-- run_in moment -->
            <input class="form-check-input" type="checkbox" id="run_in" name="run_in" value="true">
            <label for="run_in">&#127939; Random Run In</label><br>

            <hr>

            <input type="submit" value="Submit">
        </form>
    </section>


</div>

<script src="../static/js/booker.js"></script>
<script>
$('.detailprodoption').change(function () {
    var image = document.getElementById("playerOneImage").src;
    $('img[id=playerOneImage]').attr("src", $( this ).find( "option:selected" ).data( "img-src" ));
});

$('.detailprodoption_2').change(function () {
    var image = document.getElementById("playerTwoImage").src;
    $('img[id=playerTwoImage]').attr("src", $( this ).find( "option:selected" ).data( "img-src" ));
});


</script>


{% endblock %}



