{% extends 'base.html' %}

{% block content %}
<h3>&#128104; Fueds: </h3>
<hr>
<div class="bg-white border rcorners1">
  <section class="w-100 p-4">
    <a href="{{ url_for('fueds_assets.create_fued') }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Create</a>
    <hr>
    <table id="roster-table" class="table table-striped">
      <thead>
        <tr>
          <th>Participant 1</th>
          <th>Participant 2</th>
          <th>Popularity</th>
          <th>Status</th>
          <th>Created</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for fued in fueds %}
          <tr>
            <td>
              {% for member in roster %}
              {% if fued.participant_1|safe == member.id|safe %}
              {{member.name}}
              {% endif %}
              {% endfor %}
            </td>
            <td>
              {% for member in roster %}
              {% if fued.participant_2|safe == member.id|safe %}
              {{member.name}}
              {% endif %}
              {% endfor %}
          </td>           
          <td>
            {{ fued.popularity }}
          </td>
          <td>
            {% if fued.status == 'active' %}
            <span class="badge bg-success">Active</span>
            {% else %}
            <span class="badge bg-secondary">Ended</span>
            {% endif %}
            <!-- {{ fued.status }} -->
          </td>
          <td>
            {{ fued.created }}
          </td>
          <td>
            <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></button>
            <button type="button" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></button>
            <form action="{{ url_for('fueds_assets.delete_fued') }}" method=post class=delete-fued>
              <input type=hidden value="{{ fued.id }}"name=fued_to_delete />
              <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
            </form>       
          </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
{% endblock %}

  <!-- <script src="{{url_for('static', filename='somejavascriptfile.js')}}"></script> -->
