{% extends 'base.html' %}


{% block content %}
<h3>&#127968; Home: </h3>
<!-- <h4>Welcome, {{ name }}!</h4> -->
Todays date: <code>{{date}}</code>

<hr>

<div class="bg-white border rcorners1">
  <section class="w-100 p-4">
  <div class='row'>
      <div class="col-md-6"> 
          <h4>&#128240; Match History: </h4>
          <hr>
          <table id="generic-table" class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Result</th>
                  <th>Rating</th>
                </tr>
              </thead>
              <tbody>
                {% for x in result %}
                  <tr>
                    <td>{{ x.created }}</td>
                    <td>{{ x.result }}</td>
                    <td> 
                      {% for x in range(0, x.rating) %}
                      &#11088;  
                      {% endfor %}
                  </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
      <div class="col-md-6">    
          <h4>&#128240; Top 5 Wrestlers: </h4>
          <hr>
          <table id="generic-table" class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Level</th>
                </tr>
              </thead>
              <tbody>
                {% for q in roster10 %}
                  <tr>
                    <td>{{ q.name }}</td>
                    <td>{{ q.level }}</td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
      <!-- <div class="col-md-6">    
          <h4>&#128240; Top 5 Wrestlers: </h4>
          <hr>
          <table id="generic-table" class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Level</th>
                </tr>
              </thead>
              <tbody>
                {% for q in roster10 %}
                  <tr>
                    <td>{{ q.name }}</td>
                    <td>{{ q.level }}</td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
      </div> -->
    </section>
  </div>




{% endblock %}

