
{% extends 'base.html' %}

{% block content %}


<h3>&#128214; Choose your participants: </h3>
<hr>

<form action="show_post">

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
    {% for x in range(1, 5) %}
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{x}}" aria-label="Slide {{x}}"></button>
      <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
    {% endfor %}
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="bg-white border rcorners1">
                <section class="w-100 p-4">
                    <center>TESTING</center>
                </section>
            </div>
        </div>


        {% for x in range(1, 5) %}
        <div class="carousel-item">
            <div class="bg-white border rcorners1">
                <section class="w-100 p-4">
                    <center>
                        <h4>Segment {{x}}</h4>    
                        <!-- <select id="select_guy" name="0{{x}}_participant1">
                            <option value="" selected="selected">Choose your first competitor...</option>
                            {% for members in roster %}
                            <option value="{{members['id']}}">{{members['name']}} (lvl: {{members["level"]}})</option>"
                            {% endfor %}
                        </select>
                        <b> vs </b>
                        <select id="select_guy_2" name="0{{x}}_participant2">
                            <option value="" selected="selected">Choose your second competitor...</option>
                            {% for members in roster %}
                            <option value="{{members['id']}}">{{members['name']}} (lvl: {{members["level"]}})</option>"
                            {% endfor %}
                        </select> -->
                    </center> 


                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Choose your first competitor...</th>
                            <th scope="col">Choose your second competitor...</th>
                        </tr>
                        </thead>
                        <tbody>
           
                        <tr>
                            <td>    
                                <img id="playerOneImage" class="myimg" src="/static/images/vacant.png" alt="wrestlers logo" width="200px">
                            </td>
                            <td>    
                                <img id="playerTwoImage" class="myimg" src="/static/images/vacant.png" alt="wrestlers logo" width="200px">
                            </td>
                        </tr>
                        <tr>
                            <td> 
                                <select id="select_guy" class="detailprodoption" name="0{{x}}_participant1">
                                    <option value="" data-title-var="none" data-img-src="static/images/vacant.png" selected="selected">Choose your first competitor...</option>
                                    {% for members in roster %}
                                    <option value="{{members['id']}}"
                                        {% if "none" in members.accolade %}
                                            data-title-var="none" 
                                            data-title-id="none" 
                                        {% else %}
                                        {% set list1 = members.accolade.split(',') %}
                                        {% for item in list1 %}
                                        {% endfor %} 
                                        {% endif %}
                                        data-img-src="{{members['img']}}">{{members['name']}} (lvl: {{members["level"]}})
                                    </option>"
                                    {% endfor %}
                                </select>
        
        
                            </td>
                            <td>
                                <select id="select_guy_2" class="detailprodoption_2" name="0{{x}}_participant2">
                                    <option value="" selected="selected">Choose your second competitor...</option>
                                    {% for members in roster %}
                                    <option value="{{members['id']}}" 
                                    {% if "none" in members.accolade %}
                                        data-title-var="none" 
                                        data-title-id="none" 
                                    {% else %}
                                    {% set list1 = members.accolade.split(',') %}
                                    {% for item in list1 %}

                                    {% endfor %} 
                                    {% endif %}
                                        data-img-src="{{members['img']}}">{{members['name']}} (lvl: {{members["level"]}})</option>"
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        
                        </tbody>
                    </table>
                    <b>&#127873; Extras:</b>
                    <br>
                    <!-- OMG moment -->
                    <input class="form-check-input" type="checkbox" id="omgmoment" name="omgmoment" value="true">
                    <label for="omgmoment">&#128562; OMG Moment</label><br>
                    <!-- run_in moment -->
                    <input class="form-check-input" type="checkbox" id="run_in" name="run_in" value="true">
                    <label for="run_in">&#127939; Random Run In</label><br>
                    <hr>
                    <b>&#129351; Titles:</b>
                    <br>
                    <!-- Title for Participant 1 -->
                    <div style='display:none;' id='title_1'>
                        <input class="form-check-input" type="checkbox" id="titlematch_1" name="titlematch" value="">
                        <label for="titlematch"><p id="title_text"></p></label>
                    </div>
                    <!-- Title for Participant 2 -->
                    <div style='display:none;' id='title_2'>
                        <input class="form-check-input" type="checkbox" id="titlematch_2" name="titlematch_2" value="">
                        <label for="titlematch_2"><p id="title_2_text"></p></label>
                    </div>
           
                    <hr>
                </section>
            </div>
        </div>
        {% endfor %}

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    

    
  </div>

  



    <hr>
    <input type="submit" value="Submit">
    <hr>

</form>

<script src="../static/js/booker.js"></script>

<script>


</script>
{% endblock %}



